#menu
{
	position: fixed;
	width: 100%;
	background-image: url("src/Backgrounds-menu.jpg");
	font-size: x-large;
	font-weight: bold;
}

hSection {
	overflow: hidden;
	text-align: center;
	font-size: x-large;
  }
  
  hSection:before,
  hSection:after {
	background-image: url("src/Backgrounds-line.jpg");
	content: "";
	display: inline-block;
	height: 10px;
	position: relative;
	vertical-align: middle;
	width: 50%;
  }
  
  hSection:before {
	right: 10px;
	margin-left: -50%;
  }
  
  hSection:after {
	left: 10px;
	margin-right: -50%;
  }
  
  section{
	overflow: hidden;
	text-align: center;
	font-size: medium;
	background-image: url("src/Backgrounds.jpg");
  }
  
  maccabi{
	  color: white;
	  background-image: url("src/maccabi.jpg");
	  font-size: x-large;
  }
  regular{
	color: black;
	font-size: medium;
  }
  #contact-style{
	display: inline-block;
	width: 55%;
	border: 3px solid black;
	box-sizing: border-box;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	font-size: medium;
	background-image: url("src/Backgrounds-contant.jpg");
  }


