#menu
{
	position: fixed;
	width: 100%;
	background-image: url("src/maccabi.jpg");
	font-size: x-large;
}
a:link{
	color: white;
}
a:visited{
	color: black;
}
hSection {
	overflow: hidden;
	text-align: center;
	font-size: x-large;
  }
  
  hSection:before,
  hSection:after {
	background-image: url("src/maccabi.jpg");
	content: "";
	display: inline-block;
	height: 10px;
	position: relative;
	vertical-align: middle;
	width: 50%;
  }
  
  hSection:before {
	right: 10px;
	margin-left: -50%;
  }
  
  hSection:after {
	left: 10px;
	margin-right: -50%;
  }
  
  section{
	overflow: hidden;
	text-align: center;
	font-size: medium;
	background-color: grey;
  }
  
  maccabi{
	  color: white;
	  background-image: url("src/maccabi.jpg");
	  font-size: x-large;
  }
  regular{
	color: black;
	font-size: medium;
  }


